:root { 		/* VARIABLES CSS*/
	--rojo: #E50914;
	--fondo: #141414;
}

* { 			/*SELECTOR UNIVERSAL DE CONFIGURACIÓN DE SITIO*/
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: var(--fondo);
	font-family: 'Open Sans', sans-serif;	
}

.contenedor { 	/*CLASE PARA EL MARGEN DE LA CABECERA*/
	width: 90%;
	margin: auto;
}

header { /* ESPACIO DEL HEADER CON RESPECTO A LA PÁGINA*/
	padding: 10px;
}

header .contenedor { /*ESPACIO DEL CONTENEDOR DENTRO DEL HEADER*/
	display: flex;
	justify-content: space-between; 
	align-items: center;
}

header .logotipo { /*PARAMETROS DEL LOGO*/
	font-family: 'Bebas Neue', cursive;
	font-weight: normal;
	color: var(--rojo);
	font-size: 40px;
}

header nav a { /*PARAMETROS DE LETRAS DEL HEADER*/
	color: #AAAAAA;
	text-decoration: none;
	margin-right: 20px;
}

/*EFECTO DE HOVER EN LAS LETRAS DEL HEADER*/
header nav a:hover,
header nav a.active {
	color: #FFFFFF
}


/*--------------------PORTADA PELICULA PRINCIPAL--------------------*/

.pelicula_principal {
	font-size: 16px;
	min-height: 30.50em;
	color: #FFFFFF;
	background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0, 0, 0, .50) 100%), url(../img/peliculas/Interstellar.jpg);
	background-size: cover;
	background-position: center center;
	/*margin-bottom: 3.12em;*/
	display: flex;
	align-items: flex-end;
}

.pelicula_principal .contenedor{
	margin: 0 auto;
	margin-bottom: 6.25em;
}

.pelicula_principal .titulo{
	font-weight: 600;
	font-size: 3.12em;
	margin-bottom: 0.4em;
}