:root { 		/* VARIABLES CSS*/
	--rojo: #E50914;
	--fondo: #141414;
}

* { 			/*SELECTOR UNIVERSAL DE CONFIGURACIÓN DE SITIO*/
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: var(--fondo);
	font-family: 'Open Sans', sans-serif;	
}

.contenedor { 	/*CLASE PARA EL MARGEN DE LA CABECERA*/
	width: 90%;
	margin: auto;
}

header { /* ESPACIO DEL HEADER CON RESPECTO A LA PÁGINA*/
	padding: 30px;
}

header .contenedor { /*ESPACIO DEL CONTENEDOR DENTRO DEL HEADER*/
	display: flex;
	justify-content: space-between; 
	align-items: center;
}

header .logotipo { /*PARAMETROS DEL LOGO*/
	font-family: 'Bebas Neue', cursive;
	font-weight: normal;
	color: var(--rojo);
	font-size: 40px;
}

header nav a { /*PARAMETROS DE LETRAS DEL HEADER*/
	color: #AAAAAA;
	text-decoration: none;
	margin-right: 20px;
}

/*EFECTO DE HOVER EN LAS LETRAS DEL HEADER*/
header nav a:hover,
header nav a.active {
	color: #FFFFFF
}