:root { 		/* VARIABLES CSS*/
	--rojo: #E50914;
	--fondo: #141414;
}

* { 			/*SELECTOR UNIVERSAL DE CONFIGURACIÓN DE SITIO*/
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: var(--fondo);
	font-family: 'Open Sans', sans-serif;	
}

.contenedor { 	/*CLASE PARA EL MARGEN DE LA CABECERA*/
	width: 90%;
	margin: auto;
}

header {
	padding: 30px;
}

header .contenedor {
	display: flex;
	justify-content: space-between; 
	align-items: center;
}

header .logotipo {
	font-family: 'Bebas Neue', cursive;
	font-weight: normal;
	color: var(--rojo);
	font-size: 40px;
}